/*DOCUMENTO CSS*/

* {  margin: 0;
     padding: 0;}

section, div {box-sizing: border-box;}

h4 {color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-size: 1.5 em;
    text-align: center;
    padding-top: 80 px;
text-shadow: 0 px 0 px 4 px rgba (0, 0, 0, 0.486);}

.container {width: 75 %;
            margin: auto;
            padding: 15 px;
            display: flex; 
            flex-flow: wrap row;
            justify-content: space-between;
            align-items: flex-start;}

.items { background-color:lightpink;
         height: 140 px;
         width: 24 %;
         background-size: 100 %;}

.primero {background-image: url(https://picsum.photos/id/0/200/300);}
.segundo {background-image: url(https://picsum.photos/id/2/200/300);}
.tercero {background-image: url(https://picsum.photos/id/4/200/300);}
.cuarto {background-image: url(https://picsum.photos/id/7/200/300);}

/*.segundo { align-self: flex-end; }*/
