/*Documento css*/

body { background-color: rgb (35, 36, 36);
    font-family: "Oswald", sans-serif;
color: white;}

h1, h3 { color: tomato; 
    font-size: 2 em; 
    font-weight: bold; 
    text-transform: uppercase; }

h2, h4 { color: orange;}

div p small { color: red;
font-weight: bold;}

/*ESPECIFICIDAD DE SELECTORES*/

.lista { background-color: #c7f1c7; 
    width: 60 %;
    min-height: 1 px;
    margin: 15 px auto;
    padding: 15 px;}

.relleno { padding-left: 30 px ;}

.centrar { margin: auto;
    display: block;
    padding: 5 px;}

.cabecera { background: lightpink;
    padding: 15 px 0 px;}

/*Palabra subraydas*/

.principal a:link { color: red;
    font-weight: bold;   
    text-decoration: none;}

    
    
