/*DOCUMENTO CSS*/

*{margin: 0;
padding: 0;}

div,header, footer, main {box-sizing: border-box;}

body { font-family: "Anek Gurmukhi", sans-serif;}

/*Encabezados*/

h2 {padding-bottom: 15 px;}

.cabecera { min-height: 1 px;
padding: 30 px 0 px;
text-align: center;
border-bottom: 1 px solid gray;
text-shadow: 0 px 0 px 3 px rgba (62, 35, 163, 0.514);
color: aliceblue;
background:linear-gradient (180 deg, rgba (238,174,202,1) 0 %, rgba (148,187,233,1) 100 %);
} 

.principal {width: 100 %;
    padding: 0 px 0 px;
    background-image: url(/img/WhatsApp\ Image\ 2024-10-15\ at\ 3.50.40\ PM.jpeg);
    background-size: 50 % 100 %;
}

.contenido {width: 100 %;
margin: 0 px auto;
padding: 120 px 15 % 100 px 15 %;
display: flex;

background: rgb (148,187,233);
background: linear-gradient (180 deg, rgba (148,187,233,1) 0 %, rgba (252,228,239,0.5960591133004927) 34 %);}

.contenido div {width:50 %;
                min-height: 300 px;}

.pie {min-height: 80 px;
    background-color: pink;}

.pie p {text-align: center;
    line-height: 3 em;
    color: whitesmoke;}


    .formulario input, .formulario textarea  {width: 100 %;
        border-radius: 3 px;
        height: 35 px;
        margin-bottom: 5 px;
        border-color: transparent;
       box-shadow: 0 px 0 px 1 px rgba (0, 0, 0, 0.671) ;
    }

    .formulario textarea {max-width: 100 %;
        min-width: 100 %;
        max-height: 100 px;
         min-height: 100 px;}

    #btn {width: 200 px; }








