/*DOCUMENTO CSS*/

* { margin: 0;
    padding: 0;}

header, main, div, footer, nav, article { box-sizing: border-box;}

h1 { color: red; 
    padding: 15 px 0 px;
    text-align: center;}

header h1 { color: whitesmoke;
    background-color: lightcoral;}

/*ESPECIFICIDAD DE SELECTORES*/

.lista { background-color: #c7f1c7; 
    width: 60 %;
    min-height: 1 px;
    margin: 15 px auto;
    padding: 15 px;}

.relleno { padding-left: 30 px ;}

.centrar { margin: auto;
    display: block;
    padding: 5 px;}

.cabecera { background: lightpink;
    padding: 15 px 0 px;}

