/*DOCUMENTO CSS*/

*{margin: 0;
 padding: 0;}

 body { font-family: "Sofia", cursive;}
    
    div,header, footer, main {box-sizing: border-box;}

h1 {text-align: center;}

/*ESPECIFICIDAD DE SELECTORES*/

.cabecera {min-height: 1 px;
    font-size: 1.5 em; 
    padding: 20 px 0 px;
    text-align: center;
    border-bottom: 5 px solid;
    text-shadow: 1 px 1 px 3 px rgba (255,98,98,1);
    color: aliceblue;
    background: rgb (238,174,202);
    background: linear-gradient (90 deg, rgba (238,174,202,1) 0 %, rgba (255,161,175,1) 40 %, rgba (255,98,98,1) 100 %); }


.contenido {width: 100 %;
    margin: 0 px auto;
    padding: 50 px 15 %;
    display: flex;}

.contenido div img {background-color:rgba (255,98,98,1); 
    width: 60 %;
    min-height: 1 px;
    margin: 15 px auto;
    padding: left 15 px;
    display: flex;}

 .contenido h2 {padding: 50 px 50 px ;}   

.contenido ol h3 {
    display: flex;}

.principal { width: 100 %;
    padding: 0 px 0 px;}

/*Imagenes*/
.principal img {margin: auto;
    display: block;
    padding: 5 px;}

/*Pie de pagina*/
.pie {height: 100 px; 
    background:  rgba (255,161,175,1) 40 %;}

.pie p {text-align: center; 
color: aliceblue;
font-weight: 700;
line-height: 6 em;}






