/*Documento CSS*/

* {margin: 0;
   padding: 0;}

body { font-family: "Schibsted Grotesk", sans-serif;}

h1 {background-color: hsl(229, 100%, 60%);
    color: whitesmoke; 
    padding: 15px 0px;
    text-align: center;}

h2 { text-align: center;
     padding: 15px 0px;
     font-size: 1.5em;
     color: gray;}

.container {width: 65%;
    margin: auto;
    padding: 15px;
    display: flex; 
    flex-flow: wrap row;
    justify-content:space-between;
    align-items: flex-start;}

    .items {
        height: 140px;
        width: 24%;
        background-size: 100%;}

    .items h4 {font-size: 1.2em;} 

    .items p {
        text-align: justify;}
