/*Documento CSS*/

* {margin: 0;
   padding: 0;}

body { font-family: "Schibsted Grotesk", sans-serif;}

h1 {background-color: hsl (229, 100 %, 60 %);
    color: whitesmoke; 
    padding: 15 px 0 px;
    text-align: center;}

h2 { text-align: center;
     padding: 15 px 0 px;
     font-size: 1.5 em;
     color: gray;}

.container {width: 65 %;
    margin: auto;
    padding: 15 px;
    display: flex; 
    flex-flow: wrap row;
    justify-content:space-between;
    align-items: flex-start;}

    .items {
        height: 140 px;
        width: 24 %;
        background-size: 100 %;}

    .items h4 {font-size: 1.2 em;} 

    .items p {
        text-align: justify;}
